<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<h1>Посты</h1>
<button class="btn-add" onclick="toggleForm()">Создать пост</button>

<table>
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Изображение</th>
        <th>Текст</th>
        <th>Теги</th>
        <th>Комментарии</th>
        <th>Лайки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts.content}">
        <td th:text="${post.title}"></td>
        <td><img th:src="${post.imagePath}" alt="Post Image" /></td>
        <td th:text="${post.text}"></td>
        <td>
            <span th:each="tag : ${post.tags}" th:text="${tag}"></span><br/>
        </td>
        <td th:text="${post.comments}"></td>
        <td th:text="${post.likes}"></td>
    </tr>
    </tbody>
</table>

<div class="form-container" style="display: none;" id="userForm">
    <h2>Добавить пользователя</h2>
    <form th:action="@{/posts}" method="POST">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" required>

        <label for="text">Текст:</label>
        <textarea id="text" name="text" required></textarea>

        <label for="image">Изображение:</label>
        <input type="file" id="image" accept="image/*" required>

        <fieldset>
            <legend>Теги:</legend>
            <label>
                <input type="checkbox" name="tags" value="SCIENCE"> Наука
            </label>
            <br>
            <label>
                <input type="checkbox" name="tags" value="ART"> Искусство
            </label>
            <br>
            <label>
                <input type="checkbox" name="tags" value="POLITICS"> Политика
            </label>
            <br>
            <label>
                <input type="checkbox" name="tags" value="RELIGION"> Религия
            </label>
            <br><br>
        </fieldset>

        <button type="submit">Создать</button>
    </form>
</div>

<script th:src="@{/js/scripts.js}"></script>

</body>
</html>